@font-face {
  font-family: nunito;
  src: url(PlusJakartaSans-VariableFont_wght.ttf);
}


body {
  font-family: "nunito";
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background: linear-gradient(90deg, #c3dee7, #42b6ff);
  color: #000000;
}

header {
  background-color: rgba(255, 255, 255, 0.44);
  color: #000000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.342);
  justify-content: space-between;
}

.login-button-container {
  padding-right: 5px;
  align-items: center;
  padding: 5px; 
}

.login-button {
  background-color: #007bff; /* Color del botón */
  color: white;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-radius: 50%; /* Crear un círculo perfecto */
  cursor: pointer;
  transition: background-color 0.3s; /* Cambio de color suave al pasar el cursor */
}

.login-button:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}

h1 {
  margin: 0;
  font-size: 1.5rem; /* Ajustar tamaño de fuente para header más pequeño */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex; /* Mostrar elementos de la lista en línea */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00d9ff;
}

.container-pr {
  display: flex;
  margin: 20px;
}

.container-one {
  width: 20%; /* Ancho del 40% para el primer contenedor */
  margin-right: 20px; /* Espacio entre los dos contenedores */
  background-color: #ffffffa2; /* Fondo del contenedor */
  padding: 20px;
  color: #000000; /* Color del texto */
}

.container-two {
  width: 80%; /* Ancho del 55% para el segundo contenedor */
  background-color: #fffeff9f; /* Fondo del contenedor */
  padding: 20px;
  color: #000000; /* Color del texto */
}

.column1 {
  background-color: transparent; /* Fondo del contenedor */
  padding: 20px;
  margin-bottom: 20px;
  color: #000000; /* Color del texto */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.column {
  flex: 1;
  margin: 0 10px;
  text-align: left;
}

.section {
  text-align: center;
  background-color: #02318fa6;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.menu-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  padding: 5px 30px;
  color: #000 !important; /* Forzar el color negro */
}

.menu-container * {
  color: #000 !important; /* Asegurar que todos los elementos dentro del contenedor también sean negros */
}

.suggestion-bubble {
  position: fixed;
  bottom: 20px; /* Posición en la parte inferior */
  right: 20px; /* Posición en la parte derecha */
  width: 300px; /* Ancho más grande */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px; /* Padding más grande */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.suggestion-bubble p {
  margin: 0;
  font-size: 16px; /* Tamaño de fuente más grande */
}

.suggestion-bubble a {
  color: #00d9ff;
  text-decoration: none;
  display: block;
  margin-top: 15px; /* Más espacio entre el texto y el enlace */
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%; /* Establecer el ancho al 100% */
  margin: 0; /* Eliminar márgenes */

  bottom: 0; /* Colocar el footer en la parte inferior de la ventana del navegador */
  left: 0; /* Asegurar que el footer comience desde el borde izquierdo */
  right: 0; /* Asegurar que el footer termine en el borde derecho */
}
@media (max-width: 1200px) {
  .container-pr {
    flex-direction: column;
  }

  .container-one, .container-two {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .container {
    flex-direction: column;
  }

  .column {
    margin: 0 0 20px 0;
  }

  .suggestion-bubble {
    width: 90%;
    right: 5%;
    bottom: 10px;
  }

  .container-one, .container-two {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .login-button {
    padding: 5px 10px;
    font-size: 12px;
  }

  .container {
    padding: 10px;
  }

  .section {
    padding: 10px;
  }

  nav ul li {
    margin-right: 10px;
  }

  nav ul li a {
    font-size: 14px;
  }

  .suggestion-bubble p, .suggestion-bubble a {
    font-size: 14px;
  }
}
