@font-face {
    font-family: 'Nunito';
    src: url('PlusJakartaSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'www';
    src: url('Righteous-Regular.ttf');
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #c3dee7, #42b6ff);
    color: #000;
    overflow-x: hidden;
}

.login-button-container {
    padding-right: 5px;
    align-items: center;
    padding: 5px;
}

.login-button {
    background-color: #007bff;
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

header {
    background-color: transparent;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.header-container {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

.menu-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    padding: 0px 30px;
    color: #000 !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Cambiar la dirección del flex a columna */
.menu-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Cambiar de fila a columna */
}

/* Añadir margen entre los elementos del menú */
.menu-container ul li {
    margin-bottom: 10px; /* Añadir espacio entre elementos */
}

/* Menu styles for large screens */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00d9ff;
}

/* Container styles */
.container-prin {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 20px; /* Added margin to avoid being too close to the header */
}

.container-prin h1 {
    font-size: 40px;
    font-family: "www", sans-serif;
    margin: 0;
}

.container-prin img {
    max-width: 45%;
    height: auto;
    margin-left: 10px;
    margin-right: 60px;
}

/* Suggestion bubble styles */
.suggestion-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.suggestion-bubble p {
    margin: 0;
    font-size: 16px;
}

.suggestion-bubble a {
    color: #00d9ff;
    text-decoration: none;
    display: block;
    margin-top: 15px;
}

/* Construction popup styles */
.construction-popup {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.construction-content {
    align-items: center;
}

.construction-icons {
    max-width: 300px;
    margin-bottom: 20px;
}

.construction-popup h1 {
    margin: 0;
    font-size: 30px;
}

.close-button-construction {
    background: none;
    border: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
}

.toggle-header {
    background: none;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu-container.show {
    display: block !important; /* Asegura que el menú se muestre al agregar la clase "show" */
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .header-container {
        width: 100%;
        justify-content: space-between;
    }

    .menu-container {
        display: none; /* Oculta el menú por defecto en pantallas pequeñas */
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        width: 100%;
    }

    .menu-container.show {
        display: flex; /* Muestra el menú al hacer clic en el botón */
    }

    .toggle-header {
        display: block; /* Muestra el botón del menú */
    }

    .container-prin {
        flex-direction: column;
        padding-left: 20px;
    }

    .container-prin h1 {
        font-size: 30px;
        text-align: center;
    }

    .container-prin img {
        max-width: 90%;
        margin: 20px 0;
        margin-right: 0;
    }
}
@media (max-width: 420px) {
    .container-prin h1 {
        font-size: 24px;
        padding: 20px;
    }

    .container-prin img {
        max-width: 100%;
        height: auto;display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px; /* Reduce el margen izquierdo */
        margin-right: 20px; /* Reduce el margen derecho */
    }

    .suggestion-bubble {
        width: 250px; /* Reduce width on very small screens */
    }
    
    .construction-popup {
        width: 90%; /* Reduce width on very small screens */
    }

    .construction-popup h1 {
        font-size: 24px;
    }

}
