@font-face {
    font-family: nunito;
    src: url(NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

body {
  font-family: "nunito";
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background-color: #e6d8ffc5;;
  color: #ffffff;
}

header {
  background-color: #0b00358e;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.342);
  justify-content: space-between;
}

.login-button-container {
  padding-right: 5px;
  align-items: center;
  padding: 5px; 
}

.login-button {
  background-color: #007bff; /* Color del botón */
  color: white;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-radius: 50%; /* Crear un círculo perfecto */
  cursor: pointer;
  transition: background-color 0.3s; /* Cambio de color suave al pasar el cursor */
}

.login-button:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el cursor */
}

h1 {
  margin: 0;
  font-size: 1.5rem; /* Ajustar tamaño de fuente para header más pequeño */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex; /* Mostrar elementos de la lista en línea */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00d9ff;
}

.container {
  display: flex;
  margin: 20px;
}

.container-one {
  width: 20%; /* Ancho del 40% para el primer contenedor */
  margin-right: 20px; /* Espacio entre los dos contenedores */
  background-color: #3a00a531;; /* Fondo del contenedor */
  padding: 20px;
  border-radius: 10px;
  color: #ffffff; /* Color del texto */
}

.container-two {
  width: 80%; /* Ancho del 55% para el segundo contenedor */
  background-color: #3a00a531; /* Fondo del contenedor */
  padding: 20px;
  border-radius: 10px;
  color: #ffffff; /* Color del texto */
}

.column {
    background-color: transparent; /* Fondo del contenedor */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #ffffff; /* Color del texto */
}

.section {
    flex: 1 1 70%; /* Flex-grow, flex-shrink, flex-basis */
    background-color: #1d1d1d; /* Fondo del contenedor */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #ffffff; /* Color del texto */
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
